# Ignore python virtual environments or checkpoints
.ipynb_checkpoints/
__pycache__/

# Ignore AutoGluon / CatBoost model directories
ag_models_gse_shortage_classification/
catboost_info/

# Ignore serialized models and datasets
*.pkl
*.ubj
*.csv